body {
  background-color: blue;
  width: 100%;
  height: 500px;
  background-image: url("/public/about/draw_theme.jpg");
  background-size: 100%;
  background-repeat: repeat;
  object-fit: cover;
  background-attachment: fixed;
  .section {
  }
  #section-1 {
    height: 500px;
    background-color: rgba(255, 255, 255, 0.74);
  }
  #section-2 {
    background-color: rgba(255, 255, 255, 0.74);

    .cover {
      width: 100%;
      height: 400px;
      margin-bottom: 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  #section-3 {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.815);
    position: relative;
    min-height: 500px;
    // padding: 30px;
    .section__box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 500px;
      p {
        text-indent: 30px;
      }
      .wrapper {
        height: 500px;
      }
      img {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        left: 0;
        margin: auto;
      }
      svg {
        position: absolute;
        right: 70px;
        bottom: 30px;
        margin: auto;
      }
    }
  }
  #section-4 {
    width: 100%;
    position: relative;
    min-height: 500px;
    // padding: 30px;
    .container {
      background-color: rgba(45, 125, 179, 0.815);
      .section__box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 500px;
        position: relative;
        z-index: 100;
        #rank-img-1 {
          position: absolute;
          width: 250px;
          top: -150px;
        }
        #rank-img-2 {
          position: absolute;
          width: 280px;
          top: -40px;
          left: -50px;
        }
        #rank-img-3 {
          position: absolute;
          width: 400px;
          top: 200px;
          left: 150px;
        }
        p {
          text-indent: 30px;
        }
        .wrapper {
          height: 500px;
        }
      }
    }
  }
  #section-5 {
    width: 100%;
    position: relative;
    min-height: 500px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.815);
    overflow: hidden;
    .container {
      .section__box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 500px;
        position: relative;
        #comment-img {
          position: absolute;
          width: 100%;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
        }
        #rate-img {
          position: absolute;
          width: 50%;
          bottom: 0;
          left: -50px;
        }
        #share-img {
          position: absolute;
          width: 45%;
          top: -10px;
          right: -90px;
        }
        p {
          text-indent: 30px;
        }
        .wrapper {
          height: 500px;
        }
      }
    }
  }
  #section-6 {
    width: 100%;
    position: relative;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    overflow: hidden;
    .container {
      background-color: rgba(255, 94, 0, 0.747);
      min-height: 600px;
      padding: 50px;
      #reading-img {
        margin-top: 30px;
        width: 100%;
      }
    }
  }
  #section-7 {
    width: 100%;
    position: relative;
    min-height: 500px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.815);
    overflow: hidden;
    padding: 250px 0px;
    .container {
      .section__box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 500px;
        position: relative;
        #blog-page {
          position: absolute;
          width: 300px;
          left: -70px;
          transition: 0.5s ease-in-out;
          z-index: 1;
          &:hover {
            width: 500px;
            z-index: 3;
          }
        }
        #read-blog {
          position: absolute;
          width: 250px;
          transition: 0.5s ease-in-out;
          z-index: 2;
          &:hover {
            width: 400px;
            z-index: 3;
          }
        }
        #write-blog {
          position: absolute;
          width: 250px;
          right: -70px;
          transition: 0.5s ease-in-out;
          z-index: 1;
          &:hover {
            width: 400px;
            z-index: 3;
          }
        }
        .section__box {
          z-index: 4;
        }
        p {
          text-indent: 30px;
        }

        z-index: 4;
        .wrapper {
          height: 500px;
        }
      }
    }
  }
  #section-8 {
    width: 100%;
    position: relative;
    min-height: 500px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.815);
    overflow: hidden;
    padding: 250px 0px;
    .container {
      .section__box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 500px;
        position: relative;
        #shop-page {
          position: absolute;
          left: -70px;
          width: 250px;
          transition: 0.5s ease-in-out;
          z-index: 1;
          &:hover {
            width: 500px;
            z-index: 3;
          }
        }
        #list-page {
          position: absolute;
          width: 300px;
          transition: 0.5s ease-in-out;
          z-index: 2;
          &:hover {
            width: 400px;
            z-index: 3;
          }
        }
        #buy-page {
          position: absolute;
          width: 250px;
          right: -70px;
          transition: 0.5s ease-in-out;
          z-index: 1;
          &:hover {
            width: 400px;
            z-index: 3;
          }
        }
        .section__box {
          z-index: 4;
        }
        p {
          text-indent: 30px;
        }
        h2,
        p {
          margin-right: 50px;
        }

        z-index: 4;
        .wrapper {
          height: 500px;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  #section-1 {
    a {
      img {
        width: 50%;
      }
    }
  }
  #section-2 {
    .cover {
      width: 50px;
      height: 80px;
      img {
        width: 50px;
        height: 80px;
      }
    }
  }
  #section-4 {
    .container {
      .section__box {
        #rank-img-1 {
          display: none;
        }
        #rank-img-2 {
          top: 0;
          right: 0;
          bottom: -50px;
          left: 0;
          margin: auto;
        }
        #rank-img-3 {
          display: none;
        }
      }
    }
  }
  #section-5 {
    min-height: 300px;
    .container {
      .section__box {
        min-height: 300px;
        #comment-img {
          position: absolute;
          width: 100% !important;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
        }
      }
    }
  }
}
@media (max-width: 991.98px) {
  #section-1 {
    a {
      img {
        width: 50%;
      }
    }
  }
  #section-2 {
    .cover {
      width: 90%;
      height: 300px;
      margin-bottom: 10px;
    }
  }
  #section-4 {
    .container {
      .section__box {
        #rank-img-1 {
          display: none;
        }
        #rank-img-2 {
          top: 0;
          right: 0;
          bottom: -50px;
          left: 0;
          margin: auto;
        }
        #rank-img-3 {
          display: none;
        }
      }
    }
  }
  #section-5 {
    min-height: 300px;
    .container {
      .section__box {
        min-height: 300px;
        #comment-img {
          position: absolute;
          width: 100% !important;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
        }
      }
    }
  }
}
