@import "variables.scss";
footer {
  margin-top: 200px;
  padding: 10px;
  a {
    text-decoration: none !important;
  }
  .footer-title {
    position: relative;
    margin-bottom: 20px;
  }
  .footer-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    height: 3px;
    width: 100px;
    background-color: $color-2;
  }
  ul {
    margin-left: -30px;
    li {
      list-style: none;
    }
  }

  .thumbnail {
    width: 100%;
    height: 70px;
    overflow: hidden;
    margin-bottom: 10px;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  .subscribe {
    text-align: center;
    margin: 50px;
    .subscribe__input {
      input {
        outline: none;
        border: none;
        padding: 5px 10px;
        height: 60px;
        width: 600px;
      }
      button {
        outline: none;
        border: none;
        color: white;
        background-color: $color-2;
        cursor: pointer;
        height: 60px;
        aspect-ratio: 1/1;
      }
    }
  }
  .socials {
    width: 100vw;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      a {
        background-color: $color-4;
        border: 2px white solid;
        border-radius: 50%;
        margin: 10px;
        display: inline-block;
        height: 50px;
        width: 50px;
        text-decoration: none;
        color: white;
        font-size: 25px;
        line-height: 50px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease-in-out;
      }
      a:hover {
        transform: scale(1.5);
        border: transparent;
      }
    }
  }
}
