@import "variables.scss";

#section-1 {
  .info-right {
    .reviews {
      .review {
        border-bottom: 0.5px rgba(128, 128, 128, 0.589) solid;
        margin: 15px;
        .review__avatar {
          img {
            width: 50px;
            height: 50px;
            object-fit: cover;
          }
        }
        .review__content {
          margin-left: 20px;
          .review__content-name {
            a {
              text-decoration: none;
            }
          }
          .review__content-review {
            text-indent: 15px;
          }
          .review__content-review.show {
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            min-height: 100px;
          }
        }
        .review__content-reaction {
          padding: 0px 10px;
          .icons {
            div {
              margin: 0px 3px;
              padding-right: 6px;
            }
            div:not(:last-child) {
              border-right: 0.5px solid gainsboro;
            }
          }
          .handles-show {
            cursor: pointer;
          }
        }
      }
    }
  }
}
