@import "variables.scss";

#section-1 {
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 10px;
  border-radius: 5px;
  .info-left {
    .character__avatar {
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      margin-bottom: 40px;
    }
    .character__paticals {
      .fab {
        cursor: pointer;
        transition: 0.5s ease-in-out;
        &:hover {
          opacity: 0.7;
          transform: scale(1.5);
        }
      }
      .fa-facebook-square {
        color: $color-facebook;
      }
      .fa-instagram-square {
        color: $color-instagram;
      }
      .fa-pinterest-square {
        color: $color-pinterest;
      }
      .fa-tumblr-square {
        color: $color-tumblr;
      }
      .fa-twitter-square {
        color: $color-twitter;
      }
      .fa-reddit-square {
        color: $color-reddit;
      }
      .animeography {
        width: 100%;
        .anime {
          &.gray {
            background-color: gainsboro;
          }
        }
        .anime-list {
          height: 500px;
          overflow-y: scroll;
          overflow-x: hidden;
          .anime__info {
            a {
              text-decoration: none;
            }
          }
          &::-webkit-scrollbar {
            width: 12px;
            background-color: #f5f5f5;
            overflow: hidden;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 20px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #555;
          }
        }
      }
    }
  }
  .info-right {
    .navigation {
      margin-top: 10px;
      display: flex;
      list-style: none;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;

      li {
        margin: 2px 3px;
        a {
          text-decoration: none;
          font-size: 17px;
          padding: 0px 2px;
          border-left: 0.5px solid gainsboro;
          position: relative;
          &::before {
            position: absolute;
            bottom: 0px;
            content: "";
            width: 0;
            height: 5px;
            background-color: black;
            transition: 0.5s ease-in-out;
          }
          &:hover {
            &::before {
              width: 100%;
            }
          }
        }
      }
    }
    .about {
      p {
        text-indent: 20px;
      }
    }
    .voice__actors {
      width: 100%;
      .actor {
        .actor-avatar {
          width: 100px;
          height: 100px;
          object-fit: cover;
        }
        &.gray {
          background-color: gainsboro;
        }
      }
      .actor-list {
        height: 500px;
        overflow-y: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar {
          width: 12px;
          background-color: #f5f5f5;
          overflow: hidden;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 20px;
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: #555;
        }
      }
    }
    .mangaography {
      width: 100%;
      .manga {
        .manga-cover {
          width: 100px;
          height: 100px;
          object-fit: cover;
        }
        &.gray {
          background-color: gainsboro;
        }
      }
      .manga-list {
        height: 500px;
        overflow-y: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar {
          width: 12px;
          background-color: #f5f5f5;
          overflow: hidden;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 20px;
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: #555;
        }
      }
    }
  }
}
#section-2 {
  .genres-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    a {
      text-decoration: none;
    }
  }
}
