@import "variables.scss";
header {
  .navbar {
    width: 100%;
    .logo {
      height: 40px;
      width: 120px;
    }
    .navbar-toggler {
      outline: none;
    }
    .form-seach {
      position: relative;
      border-left: 1px solid gray;
      padding-left: 10px;
      input {
        padding-right: 35px;
      }
      .btn-search {
        position: absolute;
        right: 13px;
      }
      #result-live-search {
        position: absolute;
        top: 50px;
        z-index: 100;
        width: 100%;
        max-height: 300px;
        padding: 5px;
        overflow-y: scroll;
        border: solid $color-4 5px;
        .found-manga {
          border-bottom: $color-6 solid 1px;
          .found-manga__cover {
            width: 65px;
            height: 100px;
            img {
              object-fit: contain;
              margin-bottom: 5px;
            }
          }
          .found-manga__info {
            padding: 0px 5px;
          }
        }
      }
    }
    .user {
      background-color: gray;
      padding: 5px;
      border-radius: 50px;
      align-items: center;
      #userAvatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      #userName {
        line-height: 100%;
        margin: 0px 7px;
        font-size: 15px;
      }
    }
    #loginModal,
    #registerModal {
      h4 {
        width: 100%;
        text-align: center;
      }
      .close {
        outline: none;
        span {
          zoom: 2;
        }
      }
      .solution {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          text-decoration: none;
        }
      }
      .modal-footer {
        .oauth2 {
          a {
            color: $color-4;
            text-decoration: none;
          }
          .fa-facebook,
          .fa-google-plus {
            cursor: pointer;
            font-size: 35px;
            transition: 0.3s ease-in-out;
          }
          .fa-facebook:hover {
            transform: scale(1.5) rotate(13deg);
            color: $color-3;
            margin-right: 10px;
          }
          .fa-google-plus:hover {
            transform: scale(1.5) rotate(13deg);
            color: $color-7;
            margin-left: 10px;
          }
        }
      }
    }
    #registerModal {
      .password-field {
        position: relative;
        input {
          padding-right: 50px;
        }
        i {
          color: $color-4;
          position: absolute;
          top: 45px;
          right: 20px;
        }
      }
    }
  }
}
#sub-menu {
  .nav-link {
    color: white !important;
  }
}
#settings {
  left: -60px !important;
}
#userName {
  max-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.my__navbar {
  overflow: hidden;
  background: $color-2;
  a {
    float: left;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }
  form {
    float: left;
    font-size: 15px;
  }
  .nav__dropdown {
    float: left;
    .nav__dropdown-btn {
      font-size: 15px;
      border: none;
      outline: none;
      color: #fff;
      padding: 10px;
      background: inherit;
    }
    .nav__dropdown-content {
      display: none;
      position: absolute;
      background: $color-4;
      width: 100%;
      left: 0;
      z-index: 1000;
      padding: 5px;
    }
  }
}

.my__navbar a:hover,
.nav__dropdown:hover .nav__dropdown-btn {
  background: $color-4;
}

.nav__dropdown:hover .nav__dropdown-content {
  display: block;
}
.nav__column-category {
  width: 12.5%;
  padding: 10px;
  background: $color-4;
  z-index: 1000;
  text-align: center;
  li {
    list-style: none;
    a {
      display: block;
      float: none;
      color: #eee;
      text-align: center;
      &:hover {
        color: #fff;
        background: #373737;
      }
    }
  }
}
.nav__column-sort {
  width: 25%;
  padding: 10px;
  background: $color-4;
  z-index: 1000;
  text-align: center;
  li {
    list-style: none;
    a {
      display: block;
      float: none;
      color: #eee;
      text-align: center;
      &:hover {
        color: #fff;
        background: #373737;
      }
    }
  }
}
.nav__column-country {
  width: 25%;
  padding: 10px;
  background: $color-4;
  z-index: 1000;
  text-align: center;
  li {
    list-style: none;
    a {
      display: block;
      float: none;
      color: #eee;
      text-align: center;
      &:hover {
        color: #fff;
        background: #373737;
      }
    }
  }
}
@media (max-width: 650px) {
  .nav__column-category,
  .nav__column-sort,
  .nav__column-country {
    width: 50%;
    height: auto;
    padding: 3px;
    a {
      font-size: 13px;
    }
  }
}
