@import "variables.scss";
header {
  .navbar {
    width: 100%;
    .logo {
      height: 40px;
      width: 120px;
    }
    .navbar-toggler {
      outline: none;
    }
    .form-seach {
      position: relative;
      border-left: 1px solid gray;
      padding-left: 10px;
      input {
        padding-right: 35px;
      }
      .btn-search {
        position: absolute;
        right: 13px;
      }
      #result-live-search {
        position: absolute;
        top: 50px;
        z-index: 100;
        width: 100%;
        max-height: 300px;
        padding: 5px;
        overflow-y: scroll;
        border: solid $color-4 5px;
        .found-manga {
          border-bottom: $color-6 solid 1px;
          .found-manga__cover {
            width: 65px;
            height: 100px;
            img {
              object-fit: contain;
              margin-bottom: 5px;
            }
          }
          .found-manga__info {
            padding: 0px 5px;
          }
        }
      }
    }
    .user {
      background-color: gray;
      padding: 5px;
      border-radius: 50px;
      align-items: center;
      #userAvatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      #userName {
        line-height: 100%;
        margin: 0px 7px;
        font-size: 15px;
      }
    }
    #loginModal,
    #registerModal {
      h4 {
        width: 100%;
        text-align: center;
      }
      .close {
        outline: none;
        span {
          zoom: 2;
        }
      }
      .solution {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          text-decoration: none;
        }
      }
      .modal-footer {
        .oauth2 {
          a {
            color: $color-4;
            text-decoration: none;
          }
          .fa-facebook,
          .fa-google-plus {
            cursor: pointer;
            font-size: 35px;
            transition: 0.3s ease-in-out;
          }
          .fa-facebook:hover {
            transform: scale(1.5) rotate(13deg);
            color: $color-3;
            margin-right: 10px;
          }
          .fa-google-plus:hover {
            transform: scale(1.5) rotate(13deg);
            color: $color-7;
            margin-left: 10px;
          }
        }
      }
    }
    #registerModal {
      .password-field {
        position: relative;
        input {
          padding-right: 50px;
        }
        i {
          color: $color-4;
          position: absolute;
          top: 45px;
          right: 20px;
        }
      }
    }
  }
  .category {
    height: 50px;
    width: 100%;
    background-color: #be151b;
    position: relative;

    ul {
      list-style-type: none;
      background-color: #be151b;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        // float: left;
        a {
          display: block;
          color: white;
          text-align: center;
          padding: 13px;
          text-decoration: none;
        }
        a:hover {
          background-color: #e9282f;
        }
      }
      .sub-menu {
        .sub-menu_container {
          position: absolute;
          z-index: 100;
          top: 50px;
          left: 0;
          background-color: #343a40;
          padding: 0px 100px;
          width: 100%;
          display: none;
        }
        &:hover .sub-menu_container {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }
}
.category-menu {
  background-color: #343a40;
  ul {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
  }
  li a {
    display: block;
    color: white !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #e9282f;
  }
}
#sub-menu {
  .nav-link {
    color: white !important;
  }
}
