@import "variables.scss";
table {
  display: flex;
  flex-flow: column;
  width: 100%;
  thead {
    flex: 0 0 auto;
    margin-right: 12px;
  }
  tbody {
    flex: 1 1 auto;
    display: block;
    height: 500px;
    // width: 100%;
    overflow: scroll;
    // overflow-x: scroll;
    &::-webkit-scrollbar {
      width: 12px;
      background-color: #f5f5f5;
      overflow: hidden;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #555;
    }
  }

  tr {
    width: 100%;
    display: table;
    table-layout: fixed;
  }
  th {
    text-align: center;
  }
  td {
    padding: 5px;
    overflow-wrap: break-word;
  }
  .fit {
    width: 50px;
  }
  .type {
    padding: 2px 3px;
    font-size: 11px;
    border-radius: 3px;
  }
  .manga-row {
    overflow: scroll;
  }

  .desc {
    position: relative;
    &:hover .desc__more {
      display: block;
    }
    .desc__less {
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .desc__more {
      position: absolute;
      background-color: gray;
      top: 0;
      right: -320px;
      z-index: 100;
      width: 300px;
      height: 300px;
      padding: 10px;
      border-radius: 10px;
      transition: 0.5s ease-in-out;
      display: none;
      p {
        text-indent: 20px;
        height: 85%;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 12px;
          background-color: #f5f5f5;
          border-radius: 20px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 20px;
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: #555;
        }
      }
      &::before {
        position: absolute;
        content: "";
        left: -20px;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 20px solid $color-4;
      }
      &::after {
        position: absolute;
        content: "";
        display: block;
        height: 200px;
        left: -30px;
        top: 0;
        width: 40px;
        background-color: transparent;
      }
    }
  }
}
.modal-dialog {
  .modal-content {
    max-width: 1000px !important;
  }
  .modal-body {
    table {
      height: 320px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      thead {
        tr {
          th:nth-of-type(1) {
            width: 50px;
          }
        }
      }
      tbody {
        display: block;
        // height: 300px !important;
        // width: 120%;
        overflow-y: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar {
          width: 12px;
          background-color: #f5f5f5;
          overflow: hidden;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 20px;
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: #555;
        }
        tr {
          th:nth-of-type(1) {
            width: 50px;
          }
        }
        .col-chapterNumber {
          width: 100px !important;
        }
        .col-chapterName {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      tr {
        width: 100%;
        display: table;
        table-layout: fixed;
      }
    }
  }
}
/* The Modal 2 (background) */
.modal_2 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 200;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal_2-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.closeBtn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeBtn:hover,
.closeBtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
@media all and (max-width: 1024px) {
  table {
    tbody {
      overflow-x: scroll;
    }
  }
}
