@import "variables.scss";

body {
  background-color: #343a40;
  &,
  .darkmode {
    transition: 0.5s ease-in-out;
  }
  #to-top {
    position: fixed;
    bottom: 100px;
    right: 20px;
    cursor: pointer;
    z-index: 100;
    color: $color-3;
  }
}
.toggle__light-text {
  color: $color-4;
  transition: 0.5s ease-in-out;
}
.toggle__light-background {
  background-color: white;
  transition: 0.5s ease-in-out;
}
#section-2 {
  p {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 10px;
    img {
      margin: 10px 0px;
      width: 100% !important;
      height: 100% !important;
    }
  }
}
#section-3 {
  h2,
  span {
    color: $color-4;
  }
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}
#section-4 {
  width: 100%;
  .chapter-nav {
    position: fixed;
    z-index: 100;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: $color-2;
    ul {
      display: flex;
      justify-content: space-around;
      list-style: none;
      li {
        line-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        a {
          text-decoration: none;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          p {
            font-size: 13px;
          }
        }
        span,
        label {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          p {
            font-size: 13px;
          }
        }
      }
      .nav {
        width: 450px;
        i {
          cursor: pointer;
          margin-bottom: 20px;
        }
        select {
          width: 300px;
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  #section-3 {
    h3 {
      font-size: 20px;
    }
  }
  #section-4 {
    width: 100%;
    .fa-angle-up {
      font-size: 20px;
    }
    .chapter-nav {
      position: fixed;
      z-index: 100;
      bottom: 0;
      width: 100%;
      height: 50px;
      background-color: $color-2;
      ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        li {
          span,
          a,
          label {
            font-size: 15px;
          }
          p {
            display: none;
          }
        }
        .nav {
          width: 300px;
          // margin: 0px 30px;
          i {
            cursor: pointer;
          }
          select {
            line-height: 100%;
            width: 70px;
            height: 30px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media (max-width: 991.98px) {
  #section-3 {
    h3 {
      font-size: 20px;
    }
  }
  #section-4 {
    width: 100%;
    .fa-angle-up {
      font-size: 20px;
    }
    .chapter-nav {
      .nav {
        width: 300px;
        // margin: 0px 30px;
        i {
          cursor: pointer;
        }
        select {
          width: 70px;
          height: 30px;
          font-size: 12px;
        }
      }
    }
  }
}
