body {
  background-image: url("/image/i1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}
#section-1 {
  height: 100vh;
  text-align: center;
  .leaderboard {
    width: 90%;
    .title {
      background-color: white;
      transform: skewX(-30deg);
      -webkit-transform: skewX(-30deg);
      -moz-transform: skewX(-30deg);
      -ms-transform: skewX(-30deg);
      -o-transform: skewX(-30deg);
      text-align: center;
      display: flex;
      align-items: center;
      overflow: hidden;
      p {
        font-size: 30px;
        margin: 0px 20px;
      }
      i {
        font-size: 25px;
        margin: 0px 20px;
      }
      span {
        height: 100px;
        width: 20px;
        margin: 0px 3px;
        background-color: black;
        transform: skewX(-30deg);
        -webkit-transform: skewX(-30deg);
        -moz-transform: skewX(-30deg);
        -ms-transform: skewX(-30deg);
        -o-transform: skewX(-30deg);
      }
    }
    ul {
      margin-left: -10px;
      margin-bottom: 20px;
      li {
        list-style: none;
        height: 100px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.822);
        color: white;
        display: flex;
        position: relative;
        overflow: hidden;
        .rank__number {
          height: 100%;
          width: 8%;
          font-size: 50px;
          background-color: orange;
          padding: 0px 2px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            right: -20px;
            top: 50%;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-left: solid 20px orange;
            border-bottom: solid 15px transparent;
            border-top: solid 15px transparent;
          }
        }
        .rank__manga {
          height: 100%;
          width: 35%;
          margin-left: 20px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          .rank__manga-name {
            font-size: 25px;
            text-transform: uppercase;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
              color: white;
              text-decoration: none;
            }
          }
          .rank__manga-author {
            font-size: 12px;
            text-transform: uppercase;
          }
        }
        .rank__statistical {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          flex-direction: column;
          width: 50%;
          .rank__statistical-views {
            font-size: 40px;
            float: right;
          }
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          right: -10px;
          width: 20%;
          height: 12%;
          background-color: orange;
          transform: skewX(-30deg);
          -webkit-transform: skewX(-30deg);
          -moz-transform: skewX(-30deg);
          -ms-transform: skewX(-30deg);
          -o-transform: skewX(-30deg);
        }
      }
    }
  }
}

@media (max-width: 420px) {
  #section-1 {
    .leaderboard {
      .title {
        p {
          font-size: 20px;
        }
        i {
        }
        span {
        }
      }
      ul {
        li {
          .rank__number {
            font-size: 20px;
            &::after {
              right: -15px;
            }
          }
          .rank__manga {
            height: 100%;
            width: 35%;
            margin-left: 30px;
            .rank__manga-name {
              font-size: 11px;
            }
            .rank__manga-author {
              font-size: 8px;
              margin-left: 10px;
            }
          }
          .rank__statistical {
            .rank__statistical-views {
            }
          }
        }
      }
    }
  }
}
@media (max-width: 960px) {
  #section-1 {
    .leaderboard {
      .title {
        p {
          font-size: 25px;
        }
      }
      ul {
        li {
          .rank__number {
            font-size: 23px;
            &::after {
              right: -15px;
            }
          }
          .rank__manga {
            .rank__manga-name {
              font-size: 15px;
            }
            .rank__manga-author {
              font-size: 10px;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}
