$color-1: #e9282f;

$color-2: #be151b;

$color-3: #007bff;

$color-4: #343a40;

$color-5: #f7f7f7;
$color-6: #ebebeb;

$color-7: #c4402f;

$color-gold: #ffd700;
$color-silver: #c0c0c0;
$color-copper: #b87333;
