<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DATA MANAGEMENT</title>
  <link rel="icon" href="/image/tablogo.png">
  <%- include("../../partials/link") %>
</head>

<body>
  <%- include("../../admin/partials/header") %>

  <div class="container mt-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mt-2">
        <li class="breadcrumb-item"><a href="/management/content/admin">Trang quản lí</a></li>
        <li class="breadcrumb-item active" aria-current="page">Quản lí DATA</li>
      </ol>
    </nav>
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <h3>Dữ liệu</h3>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 d-flex mb-2">
        <a href="/management/content" class="btn btn-sm btn-warning">Quản lí chung <i class="fas fa-book"></i></a>
      </div>
    </div>
    <div class="container">
      <form action="/management/content/data/api/read" class="form-control" method="post" enctype="multipart/form-data">
        <input class="form-control" type="file" class="form-control" name="file" id="excel-file">
        <div class="text-center mt-2">
          <button class="btn btn-primary" type="submit" onclick="submitFile()">Gửi file</button>
        </div>
      </form>
    </div>
  </div>

</body>
<%- include("../../partials/script") %>
<script src="/js/moment.min.js"></script>
<script>
  window.onsubmit = function(event) {
    event.preventDefault();
  }

  function submitFile() {
    const getFile = document.getElementById("excel-file");
    let formData = new FormData();
    formData.append('file', getFile.files[0]);
    // console.log(formData.get("file"))
    fetch(`/management/content/data/api/send-data`, {
        method: "POST", // or 'PUT'
        // headers: {
        //   "Content-Type": "multipart/form-data",
        //   // 'Content-Type': 'application/x-www-form-urlencoded',
        // },
        body: formData
      })
      .then((response) => response.json())
      .then((data) => {
        console.log(data)
      })
      .catch((error) => {
        console.log("Error:", error);
      });
  }
</script>

</html>