body {
  background-color: blue;
  width: 100%;
  height: 500px;
  background-image: url("https://i.etsystatic.com/27232002/r/il/23445c/3593109555/il_fullxfull.3593109555_2ezr.jpg");
  background-size: 100%;
  background-repeat: repeat;
  object-fit: cover;
  background-attachment: fixed; }
  body #section-1 {
    height: 500px;
    background-color: rgba(255, 255, 255, 0.74); }
  body #section-2 {
    background-color: rgba(255, 255, 255, 0.74); }
    body #section-2 .cover {
      width: 100%;
      height: 400px;
      margin-bottom: 10px; }
      body #section-2 .cover img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
  body #section-3 {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.815);
    position: relative;
    min-height: 500px; }
    body #section-3 .section__box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 500px; }
      body #section-3 .section__box p {
        text-indent: 30px; }
      body #section-3 .section__box .wrapper {
        height: 500px; }
      body #section-3 .section__box img {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        left: 0;
        margin: auto; }
      body #section-3 .section__box svg {
        position: absolute;
        right: 70px;
        bottom: 30px;
        margin: auto; }
  body #section-4 {
    width: 100%;
    position: relative;
    min-height: 500px; }
    body #section-4 .container {
      background-color: rgba(45, 125, 179, 0.815); }
      body #section-4 .container .section__box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 500px;
        position: relative;
        z-index: 100; }
        body #section-4 .container .section__box #rank-img-1 {
          position: absolute;
          width: 250px;
          top: -150px; }
        body #section-4 .container .section__box #rank-img-2 {
          position: absolute;
          width: 280px;
          top: -40px;
          left: -50px; }
        body #section-4 .container .section__box #rank-img-3 {
          position: absolute;
          width: 400px;
          top: 200px;
          left: 150px; }
        body #section-4 .container .section__box p {
          text-indent: 30px; }
        body #section-4 .container .section__box .wrapper {
          height: 500px; }
  body #section-5 {
    width: 100%;
    position: relative;
    min-height: 500px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.815); }
    body #section-5 .container .section__box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 500px;
      position: relative; }
      body #section-5 .container .section__box #comment-img {
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto; }
      body #section-5 .container .section__box p {
        text-indent: 30px; }
      body #section-5 .container .section__box .wrapper {
        height: 500px; }

@media (max-width: 650px) {
  #section-1 a img {
    width: 50%; }
  #section-2 .cover {
    width: 50px;
    height: 80px; }
    #section-2 .cover img {
      width: 50px;
      height: 80px; }
  #section-4 .container .section__box #rank-img-1 {
    display: none; }
  #section-4 .container .section__box #rank-img-2 {
    top: 0;
    right: 0;
    bottom: -50px;
    left: 0;
    margin: auto; }
  #section-4 .container .section__box #rank-img-3 {
    display: none; }
  #section-5 {
    min-height: 300px; }
    #section-5 .container .section__box {
      min-height: 300px; }
      #section-5 .container .section__box #comment-img {
        position: absolute;
        width: 100% !important;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto; } }

@media (max-width: 991.98px) {
  #section-1 a img {
    width: 50%; }
  #section-2 .cover {
    width: 90%;
    height: 300px;
    margin-bottom: 10px; }
  #section-4 .container .section__box #rank-img-1 {
    display: none; }
  #section-4 .container .section__box #rank-img-2 {
    top: 0;
    right: 0;
    bottom: -50px;
    left: 0;
    margin: auto; }
  #section-4 .container .section__box #rank-img-3 {
    display: none; }
  #section-5 {
    min-height: 300px; }
    #section-5 .container .section__box {
      min-height: 300px; }
      #section-5 .container .section__box #comment-img {
        position: absolute;
        width: 100% !important;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto; } }
