header .navbar {
  width: 100%; }
  header .navbar .logo {
    height: 40px;
    width: 120px; }
  header .navbar .navbar-toggler {
    outline: none; }
  header .navbar .form-seach {
    position: relative;
    border-left: 1px solid gray;
    padding-left: 10px; }
    header .navbar .form-seach input {
      padding-right: 35px; }
    header .navbar .form-seach .btn-search {
      position: absolute;
      right: 13px; }
    header .navbar .form-seach #result-live-search {
      position: absolute;
      top: 50px;
      z-index: 100;
      width: 100%;
      max-height: 300px;
      padding: 5px;
      overflow-y: scroll;
      border: solid #343a40 5px;
      border-radius: 5px; }
      header .navbar .form-seach #result-live-search .found-manga {
        border-bottom: #ebebeb solid 1px; }
        header .navbar .form-seach #result-live-search .found-manga .found-manga__cover {
          width: 65px;
          height: 100px; }
          header .navbar .form-seach #result-live-search .found-manga .found-manga__cover img {
            object-fit: contain;
            margin-bottom: 5px; }
        header .navbar .form-seach #result-live-search .found-manga .found-manga__info {
          padding: 0px 5px; }
          header .navbar .form-seach #result-live-search .found-manga .found-manga__info .found-manga__info__name {
            text-decoration: none;
            font-weight: bold;
            color: white; }
          header .navbar .form-seach #result-live-search .found-manga .found-manga__info .found-manga__info__anothername {
            font-size: 12px; }
      header .navbar .form-seach #result-live-search::-webkit-scrollbar {
        width: 12px;
        background-color: #f5f5f5;
        overflow: hidden;
        border-radius: 10px; }
      header .navbar .form-seach #result-live-search::-webkit-scrollbar-thumb {
        border-radius: 20px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #555; }
  header .navbar .user {
    background-color: gray;
    padding: 5px;
    border-radius: 50px;
    align-items: center; }
    header .navbar .user #userAvatar {
      width: 40px;
      height: 40px;
      border-radius: 50%; }
    header .navbar .user #userName {
      line-height: 100%;
      margin: 0px 7px;
      font-size: 15px; }
  header .navbar #loginModal h4,
  header .navbar #registerModal h4 {
    width: 100%;
    text-align: center; }
  header .navbar #loginModal .close,
  header .navbar #registerModal .close {
    outline: none; }
    header .navbar #loginModal .close span,
    header .navbar #registerModal .close span {
      zoom: 2; }
  header .navbar #loginModal .solution,
  header .navbar #registerModal .solution {
    display: flex;
    justify-content: center;
    align-items: center; }
    header .navbar #loginModal .solution a,
    header .navbar #registerModal .solution a {
      text-decoration: none; }
  header .navbar #loginModal .modal-footer .oauth2 a,
  header .navbar #registerModal .modal-footer .oauth2 a {
    color: #343a40;
    text-decoration: none; }
  header .navbar #loginModal .modal-footer .oauth2 .fa-facebook,
  header .navbar #loginModal .modal-footer .oauth2 .fa-google-plus,
  header .navbar #registerModal .modal-footer .oauth2 .fa-facebook,
  header .navbar #registerModal .modal-footer .oauth2 .fa-google-plus {
    cursor: pointer;
    font-size: 35px;
    transition: 0.3s ease-in-out; }
  header .navbar #loginModal .modal-footer .oauth2 .fa-facebook:hover,
  header .navbar #registerModal .modal-footer .oauth2 .fa-facebook:hover {
    transform: scale(1.5) rotate(13deg);
    color: #007bff;
    margin-right: 10px; }
  header .navbar #loginModal .modal-footer .oauth2 .fa-google-plus:hover,
  header .navbar #registerModal .modal-footer .oauth2 .fa-google-plus:hover {
    transform: scale(1.5) rotate(13deg);
    color: #c4402f;
    margin-left: 10px; }
  header .navbar #registerModal .password-field {
    position: relative; }
    header .navbar #registerModal .password-field input {
      padding-right: 50px; }
    header .navbar #registerModal .password-field i {
      color: #343a40;
      position: absolute;
      top: 45px;
      right: 20px; }
  header .navbar .notification {
    background-color: rgba(128, 128, 128, 0.692);
    margin-right: 8px;
    border-radius: 50%;
    height: 30px;
    aspect-ratio: 1/1;
    cursor: pointer;
    position: relative; }
    header .navbar .notification .bell .bell__alert {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      color: white;
      font-size: 10px;
      background-color: red;
      display: flex;
      justify-content: center;
      align-items: center; }
    header .navbar .notification .notifications {
      position: absolute;
      left: -100px;
      top: 40px;
      min-width: 300px;
      z-index: 100; }
      header .navbar .notification .notifications a {
        text-decoration: none; }
      header .navbar .notification .notifications .noti__list {
        list-style: none;
        margin-left: -50px; }
        header .navbar .notification .notifications .noti__list .noti__list-head,
        header .navbar .notification .notifications .noti__list .noti__list-footer,
        header .navbar .notification .notifications .noti__list .noti__list-filter {
          background-color: #343a40;
          color: white;
          padding: 5px 10px; }
      header .navbar .notification .notifications .noti__list-footer {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px; }
      header .navbar .notification .notifications .noti__filter-option {
        padding: 2px 8px;
        border-radius: 20px; }
        header .navbar .notification .notifications .noti__filter-option:hover {
          background-color: #555; }
      header .navbar .notification .notifications .noti__filter-option.active {
        background-color: #007bff2f !important;
        color: #007bff; }
      header .navbar .notification .notifications .noti__list-row {
        background-color: #343a40;
        color: white;
        padding: 5px 0px; }
        header .navbar .notification .notifications .noti__list-row .noti__item-image {
          overflow: hidden;
          height: 100%;
          width: 50%; }
          header .navbar .notification .notifications .noti__list-row .noti__item-image img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
        header .navbar .notification .notifications .noti__list-row .noti__item-name {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden; }
        header .navbar .notification .notifications .noti__list-row .noti__item-content {
          font-size: 13px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden; }
        header .navbar .notification .notifications .noti__list-row .noti__item-time {
          font-size: 11px; }
        header .navbar .notification .notifications .noti__list-row:hover {
          background-color: #9c9c9c; }
        header .navbar .notification .notifications .noti__list-row .line {
          width: 100%;
          height: 1px;
          background-color: #c0c0c0; }

#sub-menu .nav-link {
  color: white !important; }

#settings {
  left: -60px !important; }

#userName {
  max-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.my__navbar {
  overflow: hidden;
  background: #be151b; }
  .my__navbar a {
    float: left;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none; }
  .my__navbar form {
    float: left;
    font-size: 15px; }
  .my__navbar .nav__dropdown {
    float: left; }
    .my__navbar .nav__dropdown .nav__dropdown-btn {
      font-size: 15px;
      border: none;
      outline: none;
      color: #fff;
      padding: 10px;
      background: inherit; }
    .my__navbar .nav__dropdown .nav__dropdown-content {
      display: none;
      position: absolute;
      background: #343a40;
      width: 100%;
      left: 0;
      z-index: 1000;
      padding: 5px; }

.my__navbar a:hover,
.nav__dropdown:hover .nav__dropdown-btn {
  background: #343a40; }

.nav__dropdown:hover .nav__dropdown-content {
  display: block; }

.nav__column-category {
  width: 12.5%;
  padding: 10px;
  background: #343a40;
  z-index: 1000;
  text-align: center; }
  .nav__column-category li {
    list-style: none; }
    .nav__column-category li a {
      display: block;
      float: none;
      color: #eee;
      text-align: center; }
      .nav__column-category li a:hover {
        color: #fff;
        background: #373737; }

.nav__column-sort {
  width: 25%;
  padding: 10px;
  background: #343a40;
  z-index: 1000;
  text-align: center; }
  .nav__column-sort li {
    list-style: none; }
    .nav__column-sort li a {
      display: block;
      float: none;
      color: #eee;
      text-align: center; }
      .nav__column-sort li a:hover {
        color: #fff;
        background: #373737; }

.nav__column-country {
  width: 25%;
  padding: 10px;
  background: #343a40;
  z-index: 1000;
  text-align: center; }
  .nav__column-country li {
    list-style: none; }
    .nav__column-country li a {
      display: block;
      float: none;
      color: #eee;
      text-align: center; }
      .nav__column-country li a:hover {
        color: #fff;
        background: #373737; }

@media (max-width: 650px) {
  .nav__column-category,
  .nav__column-sort,
  .nav__column-country {
    width: 50%;
    height: auto;
    padding: 3px; }
    .nav__column-category a,
    .nav__column-sort a,
    .nav__column-country a {
      font-size: 13px; } }

@media (max-width: 996px) {
  .notification .notifications {
    left: -300px !important; } }
