header .navbar {
  width: 100%; }
  header .navbar .logo {
    height: 40px;
    width: 120px; }
  header .navbar .navbar-toggler {
    outline: none; }
  header .navbar .form-seach {
    position: relative;
    border-left: 1px solid gray;
    padding-left: 10px; }
    header .navbar .form-seach input {
      padding-right: 35px; }
    header .navbar .form-seach .btn-search {
      position: absolute;
      right: 13px; }

header .category {
  height: 50px;
  width: 100%;
  background-color: #be151b;
  position: relative; }
  header .category ul {
    list-style-type: none;
    background-color: #be151b;
    display: flex;
    justify-content: center;
    align-items: center; }
    header .category ul li a {
      display: block;
      color: white;
      text-align: center;
      padding: 13px;
      text-decoration: none; }
    header .category ul li a:hover {
      background-color: #e9282f; }
    header .category ul .sub-menu .sub-menu_container {
      position: absolute;
      z-index: 100;
      top: 50px;
      left: 0;
      background-color: #343a40;
      padding: 0px 100px;
      width: 100%;
      display: none; }
    header .category ul .sub-menu:hover .sub-menu_container {
      display: flex;
      flex-wrap: wrap; }
