header .navbar {
  width: 100%; }
  header .navbar .logo {
    height: 40px;
    width: 120px; }
  header .navbar .navbar-toggler {
    outline: none; }
  header .navbar .form-seach {
    position: relative;
    border-left: 1px solid gray;
    padding-left: 10px; }
    header .navbar .form-seach input {
      padding-right: 35px; }
    header .navbar .form-seach .btn-search {
      position: absolute;
      right: 13px; }
    header .navbar .form-seach #result-live-search {
      position: absolute;
      top: 50px;
      z-index: 100;
      width: 100%;
      max-height: 300px;
      padding: 5px;
      overflow-y: scroll; }
      header .navbar .form-seach #result-live-search .found-manga {
        border-bottom: #ebebeb solid 1px; }
        header .navbar .form-seach #result-live-search .found-manga .found-manga__cover {
          width: 65px;
          height: 100px; }
          header .navbar .form-seach #result-live-search .found-manga .found-manga__cover img {
            object-fit: contain;
            margin-bottom: 5px; }
        header .navbar .form-seach #result-live-search .found-manga .found-manga__info {
          padding: 0px 5px; }
      header .navbar .form-seach #result-live-search .found-manga:hover .found-manga {
        background-color: white !important; }
  header .navbar .user {
    background-color: gray;
    padding: 5px;
    border-radius: 50px;
    align-items: center; }
    header .navbar .user #userAvatar {
      width: 40px;
      height: 40px;
      border-radius: 50%; }
    header .navbar .user #userName {
      line-height: 100%;
      margin: 0px 7px;
      font-size: 15px; }
  header .navbar #loginModal h4,
  header .navbar #registerModal h4 {
    width: 100%;
    text-align: center; }
  header .navbar #loginModal .close,
  header .navbar #registerModal .close {
    outline: none; }
    header .navbar #loginModal .close span,
    header .navbar #registerModal .close span {
      zoom: 2; }
  header .navbar #loginModal .solution,
  header .navbar #registerModal .solution {
    display: flex;
    justify-content: center;
    align-items: center; }
    header .navbar #loginModal .solution a,
    header .navbar #registerModal .solution a {
      text-decoration: none; }
  header .navbar #loginModal .modal-footer .oauth2 .fa-facebook,
  header .navbar #loginModal .modal-footer .oauth2 .fa-google-plus,
  header .navbar #registerModal .modal-footer .oauth2 .fa-facebook,
  header .navbar #registerModal .modal-footer .oauth2 .fa-google-plus {
    cursor: pointer;
    font-size: 35px;
    transition: 0.3s ease-in-out; }
  header .navbar #loginModal .modal-footer .oauth2 .fa-facebook:hover,
  header .navbar #registerModal .modal-footer .oauth2 .fa-facebook:hover {
    transform: scale(1.5) rotate(13deg);
    color: #007bff;
    margin-right: 10px; }
  header .navbar #loginModal .modal-footer .oauth2 .fa-google-plus:hover,
  header .navbar #registerModal .modal-footer .oauth2 .fa-google-plus:hover {
    transform: scale(1.5) rotate(13deg);
    color: #c4402f;
    margin-left: 10px; }

header .category {
  height: 50px;
  width: 100%;
  background-color: #be151b;
  position: relative; }
  header .category ul {
    list-style-type: none;
    background-color: #be151b;
    display: flex;
    justify-content: center;
    align-items: center; }
    header .category ul li a {
      display: block;
      color: white;
      text-align: center;
      padding: 13px;
      text-decoration: none; }
    header .category ul li a:hover {
      background-color: #e9282f; }
    header .category ul .sub-menu .sub-menu_container {
      position: absolute;
      z-index: 100;
      top: 50px;
      left: 0;
      background-color: #343a40;
      padding: 0px 100px;
      width: 100%;
      display: none; }
    header .category ul .sub-menu:hover .sub-menu_container {
      display: flex;
      flex-wrap: wrap; }

.category-menu {
  background-color: #343a40;
  /* Change the link color to #111 (black) on hover */ }
  .category-menu ul {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none; }
  .category-menu li a {
    display: block;
    color: white !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
  .category-menu li a:hover {
    background-color: #e9282f; }

#sub-menu .nav-link {
  color: white !important; }
