table {
  display: flex;
  flex-flow: column;
  width: 100%; }
  table thead {
    flex: 0 0 auto;
    margin-right: 12px; }
  table tbody {
    flex: 1 1 auto;
    display: block;
    height: 500px;
    overflow: scroll; }
    table tbody::-webkit-scrollbar {
      width: 12px;
      background-color: #f5f5f5;
      overflow: hidden; }
    table tbody::-webkit-scrollbar-thumb {
      border-radius: 20px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #555; }
  table tr {
    width: 100%;
    display: table;
    table-layout: fixed; }
  table th {
    text-align: center; }
  table td {
    padding: 5px;
    overflow-wrap: break-word; }
  table .fit {
    width: 50px; }
  table .type {
    padding: 2px 3px;
    font-size: 11px;
    border-radius: 3px; }
  table .manga-row {
    overflow: scroll; }
  table .desc {
    position: relative; }
    table .desc:hover .desc__more {
      display: block; }
    table .desc .desc__less {
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    table .desc .desc__more {
      position: absolute;
      background-color: gray;
      top: 0;
      right: -320px;
      z-index: 100;
      width: 300px;
      height: 300px;
      padding: 10px;
      border-radius: 10px;
      transition: 0.5s ease-in-out;
      display: none; }
      table .desc .desc__more p {
        text-indent: 20px;
        height: 85%;
        overflow-y: scroll; }
        table .desc .desc__more p::-webkit-scrollbar {
          width: 12px;
          background-color: #f5f5f5;
          border-radius: 20px; }
        table .desc .desc__more p::-webkit-scrollbar-thumb {
          border-radius: 20px;
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: #555; }
      table .desc .desc__more::before {
        position: absolute;
        content: "";
        left: -20px;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 20px solid #343a40; }
      table .desc .desc__more::after {
        position: absolute;
        content: "";
        display: block;
        height: 200px;
        left: -30px;
        top: 0;
        width: 40px;
        background-color: transparent; }

.modal-dialog .modal-content {
  max-width: 1000px !important; }

.modal-dialog .modal-body table {
  height: 320px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; }
  .modal-dialog .modal-body table thead tr th:nth-of-type(1) {
    width: 50px; }
  .modal-dialog .modal-body table tbody {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden; }
    .modal-dialog .modal-body table tbody::-webkit-scrollbar {
      width: 12px;
      background-color: #f5f5f5;
      overflow: hidden;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px; }
    .modal-dialog .modal-body table tbody::-webkit-scrollbar-thumb {
      border-radius: 20px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #555; }
    .modal-dialog .modal-body table tbody tr th:nth-of-type(1) {
      width: 50px; }
    .modal-dialog .modal-body table tbody .col-chapterNumber {
      width: 100px !important; }
    .modal-dialog .modal-body table tbody .col-chapterName {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  .modal-dialog .modal-body table tr {
    width: 100%;
    display: table;
    table-layout: fixed; }

/* The Modal 2 (background) */
.modal_2 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 200;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  /* Black w/ opacity */ }

/* Modal Content/Box */
.modal_2-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */ }

/* The Close Button */
.closeBtn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.closeBtn:hover,
.closeBtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

@media all and (max-width: 1024px) {
  table tbody {
    overflow-x: scroll; } }
