#paging-comment .paginationjs {
  margin: 10px;
  display: flex;
  justify-content: center; }
  #paging-comment .paginationjs ul {
    display: flex; }
  #paging-comment .paginationjs ul li {
    padding: 10px;
    list-style: none;
    border: solid 1px #007bff;
    cursor: pointer;
    margin: 0px 5px; }
    #paging-comment .paginationjs ul li a {
      text-decoration: none; }
  #paging-comment .paginationjs .paginationjs-prev:hover,
  #paging-comment .paginationjs .paginationjs-next:hover {
    background-color: #007bff;
    color: white; }
  #paging-comment .paginationjs .paginationjs-prev:hover a,
  #paging-comment .paginationjs .paginationjs-next:hover a {
    color: white; }
  #paging-comment .paginationjs .paginationjs-page.active {
    background-color: #007bff;
    color: white; }
  #paging-comment .paginationjs .J-paginationjs-go-pagenumber {
    width: 50px;
    padding: 9px;
    outline: none;
    margin: 0px 10px; }
  #paging-comment .paginationjs .J-paginationjs-go-button {
    padding: 10px;
    background-color: #be151b;
    color: white;
    border: none;
    cursor: pointer; }
