<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOGIN</title>
  <%- include("../partials/link") %>
  <link rel="icon" href="/image/tablogo.png">
  <style>
    .background {
      position: absolute;
      height: 100vh;
      width: 100vw;
      background-image: url("/image/i1.jpg");
      background-size: cover;
      z-index: -1;
      opacity: 0.8;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    form {
      margin-top: 100px;
      width: 350px;
      background-color: rgba(0, 0, 0, 0.527);
      padding: 10px;

    }

    .forget {
      font-size: 13px;
    }
  </style>
</head>

<body>
  <div class="background"></div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="text-align: center;width: 100%;" href="/"><img src="/image/logo.png" class="logo" width="100px" alt="logo"></a>
  </nav>
  <div class="container text-light">
    <form action="/manage" method="POST">
      <h1 class="text-center">Đăng nhập</h1>
      <div class="form-group">
        <label for="account">Tài khoản</label>
        <input type="text" class="form-control" name="account" id="account" placeholder="Enter account/ Nhập tài khoản admin" />
      </div>
      <div class="form-group">
        <label for="password">Mật khẩu</label>
        <input type="password" class="form-control" name="password" id="password" placeholder=" Enter password/ Nhập mật khẩu admin" />
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Đăng nhập</button>
        <div class="forget mt-3">
          <p>Quên tài khoản ? <a href="#">Yêu cầu lấy lại!</a></p>
        </div>
      </div>
    </form>
  </div>
</body>
<%- include("../partials/script") %>
<script>
  window.onsubmit = function(e) {
    e.preventDefault();
    handleSubmit();
  }

  // function setCookie(cname, cvalue, exdays) {
  //   const d = new Date();
  //   d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
  //   let expires = "expires=" + d.toUTCString();
  //   document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  // }

  function handleSubmit() {
    const account = document.querySelector("#account").value;
    const password = document.querySelector("#password").value;
    fetch("/manage", {
        method: "POST",
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          account,
          password
        }),
      })
      .then((res) => res.json())
      .then(data => {
        console.log("role", data)
        if (data === "hrm_admin") {
          window.location.href = "/manage/admin_hrm";
        } else {
          window.location.href = "/manage/admin_manga";
        }
      })
      .catch(error => console.log(error))
  }
</script>

</html>