<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NOTIFICATION</title>
  <link rel="icon" href="/image/tablogo.png">
  <!----======== CSS ======== -->
  <link rel="stylesheet" href="/css/menu.css">
  <!----===== Boxicons CSS ===== -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <!----===== Fontawesome Icon CSS ===== -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.0/css/all.min.css">
  <!--<title>Dashboard Sidebar Menu</title>-->
  <link rel="stylesheet" href="/css/manage_human.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

  <%- include("../../../partials/menu") %>
  <section class="home" style="padding: 0px 20px;">
    <div class="text"> <a class="navbar-brand" href="/"><img src="/image/logo.png" class="logo" width="100px" alt="logo"></a>
    </div>
    <div class="mother-box">
      <h1>
        Thông báo
      </h1>
  </section>

</body>
<%- include("../../../partials/scriptSidebar") %>
<script>

</script>

</html>