 <a href="javascript:;" data-toggle="modal" data-target="#updatePassword">
   <li>Đổi mật khẩu <i class='fas fa-key'></i></li>
 </a>
 <div class="modal fade" id="updatePassword" tabindex="-1" role="dialog" aria-labelledby="updatePasswordLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="updatePasswordLabel">Đổi mật khẩu</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <form action="#" method="post">
           <div class="form-group password-field">
             <label for="password">Nhập mật khẩu cũ</label>
             <input type="password" class="form-control" id="old-password" placeholder="Enter Old Password">
             <i class="fas fa-eye" data-id="old-password" onclick="toggleShowHide_1(this)"></i>
           </div>
           <div class="form-group password-field">
             <label for="password">Nhập mật khẩu mới</label>
             <input type="password" class="form-control" id="new-password" placeholder="Enter New Password">
             <i class="fas fa-eye" data-id="new-password" onclick="toggleShowHide_2(this)"></i>
             <small id="passwordHelp" class="form-text text-muted">* Mật khẩu có chứa ít nhất từ 6 đến tối đa 20 ký tự, một chữ cái viết hoa, một chữ cái viết thường và một ký tự đặc biệt (#, $, %,..)</small>
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
         <button type="button" class="btn btn-primary" onclick="changePasswordProfile()">Lưu thay đổi</button>
       </div>
     </div>
   </div>
 </div>