<footer class="bg-dark text-light">
  <div class="container">
    <h2 style="text-align: center; margin: 20px 0px;"><img src="/image/logo.png" alt="" style="width: 150px;margin: 20px 0px;"></h2>
    <div class="row mt-4">
      <div class="col-sm-12 col-md-3 col-lg-3">
        <h3 class="footer-title">About Us</h3>
        <p>MANGA là trang web/app đọc truyện tranh miễn phí và cập nhật những xu hướng truyện tranh manga/comic mới nhất... Rất hân hạnh được phục vụ quý bạn đọc ❤️💛💚💙💜</p>
      </div>

      <div class="col-sm-12 col-md-3 col-lg-3">
        <h3 class="footer-title">Get In Touch</h3>
        <ul>
          <li><i class="fas fa-map-marker-alt"></i><a href="https://g.page/HUMG1?share"> 123 Street, Ha Noi, VN</a> </li>
          <li><i class="fas fa-phone-alt"></i> +012 345 67890 </li>
          <li><i class="fas fa-envelope-square"></i> email123@gmail.com</li>
          <li><i class="fas fa-clock"></i> Mon - Fri, 9AM - 10PM</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        <h3 class="footer-title">Useful Links</h3>
        <ul>
          <li><a href="/blogs">Blogs / Các bài viết</a></li>
          <li><a href="/">Đọc manga</a></li>
          <li><a href="/byManga">Mua manga</a></li>
          <li><a href="#">Khác</a></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        <h3 class="footer-title">Latest our Images</h3>
        <div class="row">
          <div class="col-4">
            <div class="thumbnail">
              <img width="100%" src="/image/i1.jpg" />
            </div>
          </div>
          <div class="col-4">
            <div class="thumbnail">
              <img width="100%" src="/image/i2.png" />
            </div>
          </div>
          <div class="col-4">
            <div class="thumbnail">
              <img width="100%" src="/image/i3.jpg" />
            </div>
          </div>
          <div class="col-4">
            <div class="thumbnail">
              <img width="100%" src="/image/i4.jpg" />
            </div>
          </div>
          <div class="col-4">
            <div class="thumbnail">
              <img width="100%" src="/image/i5.jpg" />
            </div>
          </div>
          <div class="col-4">
            <div class="thumbnail">
              <img width="100%" src="/image/i6.jpeg" />
            </div>
          </div>
          <div class="col-4">
            <div class="thumbnail">
              <img width="100%" src="/image/i7.jpg" />
            </div>
          </div>
          <div class="col-4">
            <div class="thumbnail">
              <img width="100%" src="/image/i8.jpg" />
            </div>
          </div>
          <div class="col-4">
            <div class="thumbnail">
              <img width="100%" src="/image/i9.jpg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="subscribe">
    <h2>Nhận thông báo mới nhất của chúng tôi !</h2>
    <div class="subscribe__input">
      <input type="email" id="email-reader" placeholder="Email here">
      <button type="submit" onclick="submitEmailReader('email-reader')"><i class="fas fa-paper-plane"></i></button>
    </div>
  </div>
  <h4 class="text-center mb-3">Theo dõi chúng tôi</h4>
  <ul class="socials">
    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="#">
        <i class="fab fa-instagram"></i></a></li>
    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
  </ul>
</footer>
<script src="/js/plugins/footer.js"></script>