<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

      <a class="navbar-brand" href="/"><img src="/image/logo.png" class="logo" alt="logo"></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mua truyện tranh</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Về chúng tôi
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Giới thiệu</a>
              <a class="dropdown-item" href="#">Tải App</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 form-seach">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0 btn-search btn-sm" type="submit"><i class="fas fa-search"></i></button>
        </form>
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Đăng nhập</button>
        <button class="btn btn-warning ml-2 my-sm-0" type="submit">Đăng ký</button>
      </div>
    </div>
  </nav>
  <div class="category ">
    <ul class="container">
      <li> <a href="/">
          <i class="fa fa-home" aria-hidden="true"></i>
          Trang Chủ
        </a>
      </li>
      <li class="sub-menu"> <a href="#">
          Thể loại <i class="fas fa-angle-down"></i>
        </a>
        <ul class="sub-menu_container">
          <li><a href="/category/action">Hành động</a></li>
          <li><a href="/category/adventure">Phưu lưu</a></li>
          <li> <a href="/category/wits">Đấu trí</a></li>
          <li> <a href="/category/humor">Hài hước</a></li>
          <li> <a href="/category/martial-arts">Võ thuật</a></li>
          <li> <a href="/category/detective">Trinh thám</a></li>
          <li> <a href="/category/horror">Kinh dị</a></li>
          <li> <a href="/category/color-manga">Truyện màu</a></li>
          <li> <a href="/category/comic">Comic</a></li>
          <li> <a href="/category/ecchi">Ecchi</a></li>
          <li> <a href="/category/fantasy">Fantasy</a></li>
          <li> <a href="/category/demon">Demon</a></li>
          <li> <a href="/category/drama">Drama</a></li>
          <li> <a href="/category/romantic">Lãng mạn</a></li>
          <li> <a href="/category/sword-and-magic">Kiếm và phép thuật</a></li>
          <li> <a href="/category/16+">16+</a></li>
          <li> <a href="/category/18+">18+</a></li>

        </ul>
      </li>
      <li class="sub-menu"> <a href="#">
          Sắp Xếp <i class="fas fa-angle-down"></i>
        </a>
        <ul class="sub-menu_container">
          <li><a href="#">Top Ngày</a></li>
          <li><a href="#">Top Tuần</a></li>
          <li> <a href="#">Top Tháng</a></li>
          <li> <a href="#">Yêu thích</a></li>
          <li> <a href="#">Mới cập nhật</a></li>
          <li> <a href="#">Truyện mới</a></li>
          <li> <a href="#">Truyện full</a></li>
          <li> <a href="#">Truyện trường kỳ</a></li>
          <li> <a href="#">Ít đọc</a></li>
        </ul>
      </li>
      <li> <a href="#">
          Con Gái
        </a>
      </li>
      <li> <a href="#">
          Con Trai
        </a>
      </li>
      <li> <a href="/discussion">
          Thảo Luận
        </a>
      </li>
      <li> <a href="#">
          Fanpage
        </a>
      </li>
      <li> <a href="/novel">
          Tiểu thuyết
        </a>
      </li>
      <li> <a href="/fanmade">
          Truyện Fanmade
        </a>
      </li>
    </ul>
  </div>
</header>