<nav class="sidebar close">
  <header>

    <div class="image-text">
      <span class="image">
        <!--<img src="logo.png" alt="">-->

      </span>

      <div class="text logo-text">
        <span class="name">Codinglab</span>
        <span class="profession">Web developer</span>
      </div>
    </div>

    <i class='bx bx-chevron-right toggle'></i>
  </header>

  <div class="menu-bar">
    <div class="menu">

      <li class="search-box">
        <i class='bx bx-search icon'></i>
        <input type="text" placeholder="Search...">
      </li>

      <ul class="menu-links">
        <li class="nav-link">
          <a class="active" href="/management/human/" id="nav-1">
            <i class='bx bx-tachometer icon'></i>
            <span class="text nav-text">Bảng điều khiển</span>
          </a>
        </li>
        <li class="nav-link">
          <a class="" href="/management/human/admin/notification" id="nav-2">
            <i class='bx bx-bell icon'></i>
            <span class="text nav-text">Thông báo</span>
          </a>
        </li>
        <li class="nav-link">
          <a class="" href="/management/human/admin/statistical" id="nav-3">
            <i class='bx bx-bar-chart-alt-2 icon'></i>
            <span class="text nav-text">Thống kê</span>
          </a>
        </li>
        <li class="nav-link">
          <a class="" href="/management/human/admin/analysis" id="nav-4">
            <i class='bx bx-pie-chart-alt icon'></i>
            <span class="text nav-text">Phân tích</span>
          </a>
        </li>
        <li class="nav-link">
          <a class="" href="/management/human/admin/manage_admin" id="nav-5">
            <i class='bx bx-user-pin icon'></i>
            <span class="text nav-text">Quản trị viên</span>
          </a>
        </li>
        <li class="nav-link">
          <a class="" href="/management/human/user/manage_user" id="nav-6">
            <i class='bx bx-user icon'></i>
            <span class="text nav-text">Người dùng</span>
          </a>
        </li>
        <li class="nav-link">
          <a class="" target="_blank" href="/management/content/manga" id="nav-7">
            <i class='bx bx-book icon'></i>
            <span class="text nav-text">Manga</span>
          </a>
        </li>
        <li class="nav-link">
          <a class="" target="_blank" href="/management/content/slide" id="nav-8">
            <i class='bx bx-image-alt icon'></i>
            <span class="text nav-text">Slide</span>
          </a>
        </li>
        <li class="nav-link">
          <a class="" target="_blank" href="/management/content/blog" id="nav-9">
            <i class='bx bx-file icon'></i>
            <span class="text nav-text">Blogs</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="bottom-content">
      <li class="">
        <a href="#">
          <i class='bx bx-log-out icon'></i>
          <span class="text nav-text">Đăng xuất</span>
        </a>
      </li>

      <li class="mode">
        <div class="sun-moon">
          <i class='bx bx-moon icon moon'></i>
          <i class='bx bx-sun icon sun'></i>
        </div>
        <span class="mode-text text">Dark mode</span>

        <div class="toggle-switch">
          <span class="switch"></span>
        </div>
      </li>

    </div>
  </div>

</nav>