 <div class="chapter-nav text-light">
   <ul>
     <li>
       <a href="/">
         <i class="fas fa-home mr-2"></i>
         <p>
           Trang chủ
         </p>
       </a>
     </li>
     <li>
       <!-- Button trigger modal -->
       <span data-toggle="modal" data-target="#errorModal">
         <i class="fas fa-exclamation-circle mr-2"></i>
         <p>
           Báo lỗi
         </p>
       </span>
     </li>

     <li class="nav">
     </li>

     <li>
       <div class="form-check">
         <input class="form-check-input d-none" type="checkbox" value="" id="checkboxLight" onchange="toggleDarkmode(this)">
         <label class="form-check-label" for="checkboxLight">
           <i class="fas fa-lightbulb"></i>
           <p class="lightbulb-status">
             Bật đèn
           </p>
         </label>
       </div>
     </li>
     <li>
       <span id="navbar-follow" data-manga-id="<%= reading._id %> ">
         <i class="fas fa-heart"></i>
         <p>
           Theo dõi
         </p>
       </span>
     </li>
   </ul>
 </div>