 <div class="chapter-nav text-light">
   <ul>
     <li>
       <a href="/">
         <i class="fas fa-home mr-2"></i> Trang chủ
       </a>
     </li>
     <li>
       <!-- Button trigger modal -->
       <span data-toggle="modal" data-target="#errorModal">
         <i class="fas fa-exclamation-circle mr-2"></i> Báo lỗi
       </span>


     </li>


     <li class="nav">
     </li>

     <li>
       <div class="form-check">
         <input class="form-check-input d-none" type="checkbox" value="" id="checkboxLight" onchange="toggleDarkmode(this)">
         <label class="form-check-label" for="checkboxLight">
           <i class="fas fa-lightbulb"></i> Bật đèn
         </label>
       </div>
     </li>
     <li>
       <span>
         <i class="fas fa-heart"></i> Theo dõi
       </span>
     </li>
   </ul>
 </div>