<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 p-4" id="chart-col-1">
      <!-- <div class="chart" id="chat-1">
        <p id="header-1">️🏅 Top tuần ️🎉</p>
        <h3 id="header-2">Top 10 Manga nổi bật</h3>
        <ul>
          <li class="rank d-flex rank-1">
            <div class="rank__number p-1">
              <h2>1</h2>
            </div>
            <div class="rank__img">
              <img src="/image/1657889617884.jpg" alt="">
            </div>
            <div class="rank__info d-flex justify-content-center aligh-items-center flex-column">
              <b>ONE PIECE</b>
              <p>Chapter: 1</p>
              <p>Khoi dau</p>
            </div>
          </li>
          <li class="rank d-flex rank-2">
            <div class="rank__number p-1">
              <h5>2</h5>
            </div>
            <div class="rank__img">
              <img src="/image/1658561259953.jpg" alt="">
            </div>
            <div class="rank__info d-flex justify-content-center aligh-items-center flex-column">
              <b>NARUTO</b>
              <p>Chapter: 1</p>
              <p>Khoi dau</p>
            </div>
          </li>
          <li class="rank d-flex rank-3">
            <div class="rank__number p-1">
              <h6>3</h6>
            </div>
            <div class="rank__img">
              <img src="/image/1658053711136.jpg" alt="">
            </div>
            <div class="rank__info d-flex justify-content-center aligh-items-center flex-column">
              <b>Kimetsu no Yaiba</b>
              <p>Chapter: 1</p>
              <p>Khoi dau</p>
            </div>
          </li>
          <li class="rank d-flex">
            <div class="rank__number p-1">
              <p>4</p>
            </div>
            <div class="rank__img">
              <img src="/image/1658054298838.jpg" alt="">
            </div>
            <div class="rank__info o d-flex justify-content-center aligh-items-center flex-column">
              <b>Kimetsu no Yaiba</b>
              <p>Chapter: 1</p>
              <p>Khoi dau</p>
            </div>
          </li>
        </ul>
      </div> -->
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 p-4" id="chart-col-2">
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 p-4" id="chart-col-3">
    </div>
  </div>
</div>