<div class="d-flex">
  <img class="reply__avatar" src="/image/avatar.png> " alt="avatar">
  <div class="reply__detail">
    <p class="reply__whose">
      <b>Uchiha Shin</b> <span>Thành viên</span>
      <small> <i>1 Phút trước</i> </small>
    </p>
    <p class="reply__content">Trả lời <span class="badge badge-warning">Kakashi</span> : Voluptate ex nulla fugit, laudantium dolores cum. !!!</p>
    <div>
      <span class="like-reply">
        <i class="fa fa-thumbs-up"></i> 0
      </span>
      <span class="response-reply">
        <i class="fas fa-comment"></i> Trả lời
      </span>
    </div>
  </div>
</div>