 <div class="comment__skeleton">
   <div class="d-flex mt-2">
     <div class="comment__avatar__skeleton loading">
     </div>
     <div class="comment__detail__skeleton loading">
     </div>
   </div>
   <div class="d-flex mt-2">
     <div class="comment__avatar__skeleton loading">
     </div>
     <div class="comment__detail__skeleton loading">
     </div>
   </div>
   <div class="d-flex mt-2">
     <div class="comment__avatar__skeleton loading">
     </div>
     <div class="comment__detail__skeleton loading">
     </div>
   </div>
 </div>