  <div class="form-check row d-flex justify-content-between">
    <div class="column">
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_1" value="Action">
        <label class="form-check-label" for="type_1">Action</label>
      </div>
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_2" value="Phưu lưu">
        <label class="form-check-label" for="type_2">Phưu lưu</label>
      </div>
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_3" value="Magic">
        <label class="form-check-label" for="type_3">Magic</label>
      </div>
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_4" value="Kỳ ảo">
        <label class="form-check-label" for="type_4">Kỳ ảo</label>
      </div>
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_5" value="16+">
        <label class="form-check-label" for="type_5">16+</label>
      </div>

      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_6" value="Ninja">
        <label class="form-check-label" for="type_6">Ninja</label>
      </div>
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_7" value="Đấu trí">
        <label class="form-check-label" for="type_7">Đấu trí</label>
      </div>
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_8" value="Truyện scan">
        <label class="form-check-label" for="type_8">Truyện scan</label>
      </div>
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_9" value="Supernatural">
        <label class="form-check-label" for="type_9">Supernatural</label>
      </div>
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_10" value="Chuyển sinh">
        <label class="form-check-label" for="type_10">Chuyển sinh</label>
      </div>
    </div>
    <div class="column">
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_11" value="Chiến dịch">
        <label class="form-check-label" for="type_11">Chiến dịch</label>
      </div>
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_12" value="Trung cổ">
        <label class="form-check-label" for="type_12">Trung cổ</label>
      </div>
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_13" value="Lãng mạn">
        <label class="form-check-label" for="type_13">Lãng mạn</label>
      </div>
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_14" value="Drama">
        <label class="form-check-label" for="type_14">Drama</label>
      </div>
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_15" value="Ngôn tình">
        <label class="form-check-label" for="type_15">Ngôn tình</label>
      </div>
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_16" value="Trinh thám">
        <label class="form-check-label" for="type_16">Trinh thám</label>
      </div>
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_17" value="School Life">
        <label class="form-check-label" for="type_17">School Life</label>
      </div>
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_18" value="Webtoon">
        <label class="form-check-label" for="type_18">Webtoon</label>
      </div>
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_19" value="Hài kịch">
        <label class="form-check-label" for="type_19">Hài kịch</label>
      </div>
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_20" value="Chuyển thể">
        <label class="form-check-label" for="type_20">Chuyển thể</label>
      </div>
    </div>
    <div class="column">
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_21" value="Slice Of Life">
        <label class="form-check-label" for="type_21">Slice Of Life</label>
      </div>
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_22" value="Sports">
        <label class="form-check-label" for="type_22">Sports</label>
      </div>
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_23" value="Mystery">
        <label class="form-check-label" for="type_23">Mystery</label>
      </div>
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_24" value="Psychological">
        <label class="form-check-label" for="type_24">Psychological</label>
      </div>
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_25" value="Võ thuật">
        <label class="form-check-label" for="type_25">Võ thuật</label>
      </div>
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_26" value="Truyện màu">
        <label class="form-check-label" for="type_26">Truyện màu</label>
      </div>
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_27" value="Tâm lí">
        <label class="form-check-label" for="type_27">Tâm lí</label>
      </div>
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_28" value="18+">
        <label class="form-check-label" for="type_28">18+</label>
      </div>
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_29" value="Thiếu nhi">
        <label class="form-check-label" for="type_29">Thiếu nhi</label>
      </div>
      <div class="checkbox-type">
        <input type="checkbox" class="form-checbox-type" id="type_30" value="Mecha">
        <label class="form-check-label" for="type_30">Mecha</label>
      </div>
    </div>
  </div>