<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin HRM</title>
  <link rel="icon" href="/image/tablogo.png">
  <link rel="stylesheet" href="/css/manage_hrm.css">
  <link rel="stylesheet" href="/css/fullscreenImg.css">


  <%- include("../../../partials/link") %>
  <!-- {{!-- Link fontawesome 5 --}} -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>


  <div class="container">
    <h2 class="text-center mt-2">Tạo quản trị viên</h1>
      <div class="container" style="width: 400px;">
        <!-- enctype="multipart/form-data" -->
        <form action="/manage/admin_hrm" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="username">Tài khoản</label>
            <input type="text" class="form-control" required name="username" id="username" placeholder="Enter username/ Nhập tài khoản admin" />
          </div>
          <div class="form-group">
            <label for="password">Mật khẩu</label>
            <input type="password" class="form-control" required name="password" id="password" placeholder=" Enter password/ Nhập mật khẩu admin" />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" required name="email" id="email" placeholder="Enter email/ Nhập email admin" />
          </div>
          <div class="form-group">
            <label for="role">Role</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="role" id="CA" value="CA" checked>
              <label class="form-check-label" for="CA">
                Quản trị nội dung
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="role" id="HA" value="HA">
              <label class="form-check-label" for="HA">
                Quản trị nhân lực
              </label>
            </div>
          </div>
          <div class="input-group mb-3 uploadAvatar">
            <div class="input-group-prepend">
              <span class="input-group-text">Avatar</span>
            </div>
            <div class="custom-file ">
              <input type="file" class="custom-file-input" name="avatar" id="avatar">
              <label class="custom-file-label">Choose file</label>
            </div>
          </div>
          <div class="preview-zone">
            <p class="bg-warning boderred">Preview Avatar</p>
            <img id="preview" src="#" alt="your avatar">
            <!-- The Modal -->
            <div id="myModal" class="modal">
              <span class="close-btn">&times;</span>
              <img class="modal-content" id="preview-modal">
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Thêm mới <i class="fa-solid fa-plane-departure"></i></button>
          </div>
        </form>
      </div>
  </div>
</body>
<%- include("../../../partials/script") %>
<script>
  // Add the following code if you want the name of the file appear on select
  $(".custom-file-input").on("change", function() {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
  window.onsubmit = function(event) {
    event.preventDefault();
    //find content
    const username = document.getElementById("username").value;
    const password = document.getElementById("password").value;
    const email = document.getElementById("email").value;
    const role = document.querySelector("[name='role']:checked").value;
    const imgFiles = document.getElementById("avatar");
    //set up avatar file
    const formData = new FormData();
    formData.append("avatar", imgFiles.files[0])
    const obj = {
      username: username,
      password: password,
      email: email,
      role: role,
    }
    if (password.length < 6) {
      alert("Mật khẩu phải nhiều hơn 6 ký tự !!!")
    }
    console.log(obj, formData)
    fetch("/management/human/admin/api/getList")
      .then(res => res.json())
      .then(data => {
        const checkAccount = data.rows.some((admin) => admin.username === username);
        const checkEmail = data.rows.some((admin) => admin.email === email);
        if (checkAccount === true) {
          alert("Tài khoản đã tồn tại ! Vui lòng đăng ký tài khoản khác !!!")
        } else if (checkEmail === true) {
          alert("Email đã dùng với tài khoản khác !")
        } else {
          if (typeof imgFiles.files[0] === "undefined") {
            submitDataWithoutAvatar(obj)
            console.log("NO")

          } else {
            submitData(formData, obj)
            console.log("YESS")

          }
        }
      })
      .catch(error => console.log(error))
  }

  function submitData(formData, obj) {
    fetch('/management/human/admin/api/create/avatar', {
        method: 'POST', // or 'PUT'
        body: formData,
      })
      .then(response => response.json())
      .then(data => {
        obj.avatar = data.filename;
        fetch('/management/human/admin/api/create', {
            method: 'POST', // or 'PUT'
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(obj),
          })
          .then(response => response.json())
          .then(data => {
            console.log(data)
            swal({
              title: "Thành công",
              text: "Đã thêm tài khoản",
              icon: "success",
              button: "Ok!",
            });
          })
          .catch((error) => {
            console.error('Error:', error);
          })
      })
      .catch((error) => {
        console.error('Error:', error);
      });
  }

  function submitDataWithoutAvatar(obj) {
    fetch('/management/human/admin/api/create', {
        method: 'POST', // or 'PUT'
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(obj),
      })
      .then(response => response.json())
      .then(data => {
        // console.log(data)
        swal({
          title: "Thành công",
          text: "Đã thêm tài khoản",
          icon: "success",
          button: "Ok!",
        });
      })
      .catch((error) => {
        console.error('Error:', error);
      })
  }
</script>
<script>
  avatar.onchange = () => {
    const [file] = avatar.files
    if (file) {
      preview.src = URL.createObjectURL(file)
    }
  }

  var modal = document.getElementById("myModal");

  // Get the image and insert it inside the modal - use its "alt" text as a caption
  var img = document.getElementById("preview");
  var modalImg = document.getElementById("preview-modal");
  img.onclick = function() {
    modal.style.display = "block";
    modalImg.src = this.src;
  }

  // Get the <span> element that close-btns the modal
  var span = document.getElementsByClassName("close-btn")[0];

  // When the user clicks on <span> (x), close-btn the modal
  span.onclick = function() {
    modal.style.display = "none";
  }
</script>

</html>