<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta http-equiv="refresh" content="5"> -->
  <title>ABOUT</title>
  <%- include("partials/link") %>
  <link rel="icon" href="/image/tablogo.png">
  <link rel="stylesheet" href="/css/about.css">
  <link rel="stylesheet" href="/css/chart.css">
  <link rel="stylesheet" href="/css/slide.css">

</head>

<body>
  <section class="section container" id="section-1">
    <div class="text-center">
      <a href="/">
        <img src="/image/logo.png" alt="">
      </a>
      <h2>Chào mừng quý độc giả đến với MANGA</h2>
      <p>
        Đây là nơi giao lưu đọc truyện tranh miễn phí lớn nhất Việt Nam.
      </p>
    </div>
  </section>
  <section class="section" id="section-2">
    <div class="text-center">
      <h2>♥️❤️💛💚💙 Nơi cập nhật các bộ truyện tranh mới và sớm nhất 💙💚💛❤️♥️</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
          <div class="cover">
            <img src="https://i.pinimg.com/originals/de/51/1e/de511e896610cf7f54eafa6575c529a6.png" width="100%">
            </img>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
          <div class="cover">
            <img src="/image/1658053711136.jpg" width="100%">
            </img>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
          <div class="cover">
            <img src="/image/1658561259953.jpg" width="100%">
            </img>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
          <div class="cover">
            <img src="/image/1658054298838.jpg" width="100%">
            </img>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
          <div class="cover">
            <img src="https://i.pinimg.com/originals/de/51/1e/de511e896610cf7f54eafa6575c529a6.png" width="100%">
            </img>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
          <div class="cover">
            <img src="/image/1658053711136.jpg" width="100%">
            </img>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
          <div class="cover">
            <img src="/image/1658561259953.jpg" width="100%">
            </img>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
          <div class="cover">
            <img src="/image/1658054298838.jpg" width="100%">
            </img>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
          <div class="cover">
            <img src="https://i.pinimg.com/originals/de/51/1e/de511e896610cf7f54eafa6575c529a6.png" width="100%">
            </img>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
          <div class="cover">
            <img src="/image/1658053711136.jpg" width="100%">
            </img>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
          <div class="cover">
            <img src="/image/1658561259953.jpg" width="100%">
            </img>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
          <div class="cover">
            <img src="/image/1658054298838.jpg" width="100%">
            </img>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
          <div class="cover">
            <img src="https://i.pinimg.com/originals/de/51/1e/de511e896610cf7f54eafa6575c529a6.png" width="100%">
            </img>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
          <div class="cover">
            <img src="/image/1658053711136.jpg" width="100%">
            </img>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
          <div class="cover">
            <img src="/image/1658561259953.jpg" width="100%">
            </img>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
          <div class="cover">
            <img src="/image/1658054298838.jpg" width="100%">
            </img>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section" id="section-3">
    <div class="wrapper  container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="section__box text-light">
            <h2>Tìm kiếm và chọn lọc </h2>
            <p>
              Tại đây chúng tôi đem đến những trải nghiệm đọc truyện tìm kiếm và chọn lọc
              những bộ truyện hay nhất !!!
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="section__box text-center">
            <div class="wrapper">
              <svg viewBox="0 0 189 189" style="background-color:#ffffff00" xmlns="http://www.w3.org/2000/svg" width="189" height="189">
                <g stroke="#fff" stroke-width="2" fill="none">
                  <path d="M137.484 69.432c0 37.536-30.425 67.96-67.97 67.96-37.535 0-67.953-30.424-67.953-67.96C1.56 31.9 31.98 1.474 69.516 1.474c37.544 0 67.97 30.425 67.97 67.958z" />
                  <path d="M118.228 68.774c0 26.78-21.702 48.488-48.496 48.488-26.772 0-48.48-21.71-48.48-48.488 0-26.776 21.708-48.48 48.48-48.48 26.794 0 48.496 21.704 48.496 48.48z" />
                  <path d="M37 68.998C37 50.773 51.55 36 69.495 36" />
                  <path d="M128.008 104.035l54.93 55.05c5.754 5.764 5.758 15.208.007 20.98l-2.886 2.894c-5.752 5.772-15.174 5.783-20.94.024l-55.128-55.078" />
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section" id="section-4">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="section__box text-center">
            <img src="/public/about/rank1.jpg" id="rank-img-1" alt="">
            <img src="/public/about/rank2.jpg" id="rank-img-2" alt="">
            <img src="/public/about/rank3.jpg" id="rank-img-3" alt="">
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="section__box text-light">
            <h2>🏹️🏹️🏹️ Xếp hạng truyện tranh</h2>
            <p>
              Tại đây chúng tôi đem đến những cuộc đua về lượt xem lượt thích, độ phổ biến của những bộ truyện tranh !!!️🎯️🎯️🎯
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<%- include("partials/script") %>

<script>
  ScrollReveal().reveal('.cover', {
    // delay: 500,
    interval: 100,
    scale: 1.5,
    reset: true,
  })
</script>
<script src="https://cdn.jsdelivr.net/npm/drawsvg@1.1.0/public/jquery.drawsvg.min.js"></script>
<script>
  // const $doc = $(document);
  // const $win = $(window);
  // const $svg = $('svg').drawsvg();
  const max = $doc.height() - $win.height();

  // $win.on('scroll', function() {
  //   console.log(max)
  //   var p = $win.scrollTop() / max;
  //   $svg.drawsvg('progress', p);
  // });
  var $svg = $('svg').drawsvg();

  $svg.drawsvg('animate');
</script>

</html>