<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BLOGS</title>
  <link rel="icon" href="/image/tablogo.png">
  <link rel="stylesheet" href="/css/manage_manga.css">
  <link rel="stylesheet" href="/css/fullscreenImg.css">

  <%- include("./partials/link") %>


  <link href="https://unpkg.com/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.css" rel="stylesheet">
  <link href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css" rel="stylesheet">
  <link href="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/page-jump-to/bootstrap-table-page-jump-to.min.css" rel="stylesheet">



</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="text-align: center;width: 100%;" href="/"><img src="/image/logo.png" class="logo" width="100px" alt="logo"></a>
  </nav>
  <div class="container mt-2">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <h3>Danh sách manga</h3>
      </div>
    </div>
  </div>
  <div class="container">
  </div>
  <!-- <table id="table" data-toggle="table" data-height="460" data-ajax="ajaxRequest" data-search="true" data-side-pagination="server" data-pagination="true" data-page-list="[2,4,6]" data-show-custom-view="true" data-custom-view="customViewFormatter" data-show-custom-view-button="true"> -->

  <table id="table" data-toggle="table" data-url="/management/content/manga/test_api" data-pagination="true" data-show-custom-view="true" data-custom-view="customViewFormatter" data-page-size="2" data-page-list="[2,4,6]" data-show-header="true" data-show-custom-view-button="true" data-show-jump-to="true" data-search-highlight="true">
    <thead>
      <tr class="text-center">
        <th scope="col" data-field="_id" data-sortable="true">ID</th>
        <th scope="col" data-field="image" class="pull" data-card-visible="false">Ảnh bìa</th>
        <th scope="col" data-field="name" data-sortable="true">Tên</th>
        <!-- <th scope="col" data-field="anotherName">Tên khác</th>
        <th scope="col" data-field="author">Tác giả</th>
        <th scope="col" data-field="type">Thể loại</th>
        <th scope="col" data-field="serve" data-sortable="true">Đối tượng</th>
        <th scope="col" data-field="description">Mô tả</th>
        <th scope="col" data-field="status" data-sortable="true">Tình trạng</th>
        <th scope="col" data-field="hot" data-sortable="true">Hot</th>
        <th scope="col" data-field="statistical" data-sortable="true">Thống kê</th>
        <th scope="col" data-field="contentId">Chương</th>
        <th scope="col" data-field="Fanmade" data-sortable="true">Fanmade</th>
        <th scope="col" data-field="createdAt" data-sortable="true">Tạo</th>
        <th scope="col" data-field="updatedAt" data-sortable="true">Cập nhật</th>
        <th scope="col" data-field="Tác vụ">Tác vụ</th> -->
      </tr>
    </thead>
  </table>
  <table>
    <thead>
      <tr class="text-center">
        <th scope="col">ID</th>
        <th scope="col">Ảnh bìa</th>
        <th scope="col">Tên</th>
        <!-- <th scope="col" data-field="anotherName">Tên khác</th>
      <th scope="col" data-field="author">Tác giả</th>
      <th scope="col" data-field="type">Thể loại</th>
      <th scope="col" data-field="serve" data-sortable="true">Đối tượng</th>
      <th scope="col" data-field="description">Mô tả</th>
      <th scope="col" data-field="status" data-sortable="true">Tình trạng</th>
      <th scope="col" data-field="hot" data-sortable="true">Hot</th>
      <th scope="col" data-field="statistical" data-sortable="true">Thống kê</th>
      <th scope="col" data-field="contentId">Chương</th>
      <th scope="col" data-field="Fanmade" data-sortable="true">Fanmade</th>
      <th scope="col" data-field="createdAt" data-sortable="true">Tạo</th>
      <th scope="col" data-field="updatedAt" data-sortable="true">Cập nhật</th>
      <th scope="col" data-field="Tác vụ">Tác vụ</th> -->
      </tr>
    </thead>
    <template id="profileTemplate">
      <tbody>
        <td scope="col">%ID%</td>
        <td scope="col">
          <img src="%IMAGE%" class="manga-image" width="100%" alt="" onclick="myFunc()">
          <div id="myModal" class="modal">
            <span class="close-btn">&times;</span>
            <img class="modal-content" id="preview-modal">
          </div>
        </td>
        <td scope="col">%NAME%</td>
      </tbody>
    </template>
  </table>


</body>
<%- include("./partials/script") %>
<script src="/js/moment.min.js"></script>
<script src="/js/manage_mangas/mangaDashboard.js"></script>
<script src="/js/manage_mangas/reviewChapter.js"></script>

<script>
  tippy(`.div-template`, {
    content(reference) {
      const id = reference.getAttribute("data-template");
      const template = document.getElementById(`template-${id}`);
      return template.innerHTML;
    },
    allowHTML: true,
    interactive: true,
    followCursor: true,
    placement: "right-end",
    arrow: true,
  });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/resizable/bootstrap-table-resizable.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/custom-view/bootstrap-table-custom-view.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/page-jump-to/bootstrap-table-page-jump-to.min.js"></script>

<script>
  $(function() {
    $('#table').bootstrapTable()
  })
  // your custom ajax request here
  // function ajaxRequest(params) {
  //   var url = '/management/content/manga/test_api'
  //   $.get(url + '?' + $.param(params.data)).then(function(res) {
  //     params.success(res)
  //     customViewFormatter(res.rows)
  //   })
  // }

  function customViewFormatter(data) {
    var template = $('#profileTemplate').html()
    var view = ''
    $.each(data, function(i, row) {
      view += template.replace('%ID%', row._id)
        .replace('%NAME%', row.name)
        .replace('%IMAGE%', row.image)
        .replace('%IMAGE%', row.image)
    })

    return `${view}`
  }

  function myFunc() {
    alert("dasf")
  }
</script>

</html>