<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta http-equiv="refresh" content="5"> -->
  <title>New Mangas</title>
  <%- include("partials/link") %>
  <link rel="icon" href="/image/tablogo.png">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/paging.css">
</head>

<body>
  <%- include('partials/header') %>
  <h2 class="container mt-3 bg-dark rounded text-light">
    </h1>
    <section class="section container" id="section-1" style="padding: 20px;min-height: 800px;">
      <div class="row manga-container">
      </div>
    </section>
    <div id="paging-1">
    </div>
    <%- include('partials/footer') %>
</body>
<%- include("partials/script") %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/js/pagination.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/moment-with-locales.min.js"></script>
<script src="/js/plugins/showNewManga.js"></script>
<script src="/js/tooltip.js"></script>

</html>