<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SEND MAIL</title>
  <link rel="icon" href="/image/tablogo.png">
  <%- include("../../partials/link") %>
</head>

<body>
  <%- include("../../admin/partials/header") %>

  <div class="container mt-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mt-2">
        <li class="breadcrumb-item"><a href="/management/content/admin">Trang quản lí</a></li>
        <li class="breadcrumb-item active" aria-current="page">Quản lí mail</li>
      </ol>
    </nav>
    <section class="container">
      <h1>SEND MAIL</h1>
    </section>

</body>
<%- include("../../partials/script") %>
<script src="/js/moment.min.js"></script>


</html>